<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.his.master.mapper.AppointmentConfigMapper">

    <resultMap id="BaseResultMap" type="com.his.master.model.entity.AppointmentConfig">
            <id property="configId" column="config_id" jdbcType="BIGINT"/>
            <result property="timeClass" column="time_class" jdbcType="CHAR"/>
            <result property="startTime" column="start_time" jdbcType="TIME"/>
            <result property="endTime" column="end_time" jdbcType="TIME"/>
            <result property="sourceNumber" column="source_number" jdbcType="INTEGER"/>
            <result property="standbyNumber" column="standby_number" jdbcType="INTEGER"/>
            <result property="medicalType" column="medical_type" jdbcType="VARCHAR"/>
            <result property="weekId" column="week_id" jdbcType="CHAR"/>
            <result property="status" column="status" jdbcType="CHAR"/>
            <result property="transfusionId" column="transfusion_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        config_id,time_class,start_time,
        end_time,source_number,standby_number,
        medical_type,week_id,status,
        transfusion_id
    </sql>
</mapper>
