<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.his.master.mapper.CureTreatmentPlanMainMapper">

    <resultMap id="BaseResultMap" type="com.his.master.model.entity.CureTreatmentPlanMain">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="adviceId" column="advice_id" jdbcType="BIGINT"/>
            <result property="startDate" column="start_date" jdbcType="DATE"/>
            <result property="expectedEndDate" column="expected_end_date" jdbcType="DATE"/>
            <result property="treatmentCycle" column="treatment_cycle" jdbcType="VARCHAR"/>
            <result property="treatmentFrequency" column="treatment_frequency" jdbcType="VARCHAR"/>
            <result property="prescribingDoctor" column="prescribing_doctor" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,advice_id,start_date,
        expected_end_date,treatment_cycle,treatment_frequency,
        prescribing_doctor
    </sql>
</mapper>
