<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.his.master.mapper.CureMedicalRecordsMapper">

    <resultMap id="BaseResultMap" type="com.his.master.model.entity.CureMedicalRecords">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="adviceId" column="advice_id" jdbcType="BIGINT"/>
            <result property="treatmentTime" column="treatment_time" jdbcType="TIMESTAMP"/>
            <result property="treatmentType" column="treatment_type" jdbcType="VARCHAR"/>
            <result property="patientId" column="patient_id" jdbcType="BIGINT"/>
            <result property="creationTime" column="creation_time" jdbcType="TIMESTAMP"/>
            <result property="treatmentStatus" column="treatment_status" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,advice_id,treatment_time,
        treatment_type,patient_id,creation_time,
        treatment_status
    </sql>
</mapper>
