<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.his.master.mapper.CureMedicalDetailsMapper">

    <resultMap id="BaseResultMap" type="com.his.master.model.entity.CureMedicalDetails">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="medicalRecordId" column="medical_record_id" jdbcType="BIGINT"/>
            <result property="attendingPhysician" column="attending_physician" jdbcType="VARCHAR"/>
            <result property="department" column="department" jdbcType="VARCHAR"/>
            <result property="location" column="location" jdbcType="VARCHAR"/>
            <result property="attendingTime" column="attending_time" jdbcType="TIMESTAMP"/>
            <result property="patientComplaint" column="patient_complaint" jdbcType="VARCHAR"/>
            <result property="presentIllness" column="present_illness" jdbcType="VARCHAR"/>
            <result property="creationDate" column="creation_date" jdbcType="TIMESTAMP"/>
            <result property="creator" column="creator" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,medical_record_id,attending_physician,
        department,location,attending_time,
        patient_complaint,present_illness,creation_date,
        creator
    </sql>
</mapper>
