<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.his.master.mapper.MedAllergyHistoryDetailsMapper">

    <resultMap id="BaseResultMap" type="com.his.master.model.entity.MedAllergyHistoryDetails">
            <id property="detailId" column="detail_id" jdbcType="BIGINT"/>
            <result property="historyId" column="history_id" jdbcType="BIGINT"/>
            <result property="allergen" column="allergen" jdbcType="VARCHAR"/>
            <result property="reactionDescription" column="reaction_description" jdbcType="VARCHAR"/>
            <result property="severity" column="severity" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        detail_id,history_id,allergen,
        reaction_description,severity
    </sql>
</mapper>
