<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.his.master.mapper.MedDiseaseHistoryDetailsMapper">

    <resultMap id="BaseResultMap" type="com.his.master.model.entity.MedDiseaseHistoryDetails">
            <id property="detailId" column="detail_id" jdbcType="BIGINT"/>
            <result property="historyId" column="history_id" jdbcType="BIGINT"/>
            <result property="diseaseName" column="disease_name" jdbcType="VARCHAR"/>
            <result property="diagnosisDate" column="diagnosis_date" jdbcType="DATE"/>
            <result property="treatmentSummary" column="treatment_summary" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        detail_id,history_id,disease_name,
        diagnosis_date,treatment_summary
    </sql>
</mapper>
