<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.his.master.mapper.MedSurgeryHistoryDetailsMapper">

    <resultMap id="BaseResultMap" type="com.his.master.model.entity.MedSurgeryHistoryDetails">
            <id property="detailId" column="detail_id" jdbcType="BIGINT"/>
            <result property="historyId" column="history_id" jdbcType="BIGINT"/>
            <result property="surgeryName" column="surgery_name" jdbcType="VARCHAR"/>
            <result property="surgeryDate" column="surgery_date" jdbcType="DATE"/>
            <result property="surgeon" column="surgeon" jdbcType="VARCHAR"/>
            <result property="outcome" column="outcome" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        detail_id,history_id,surgery_name,
        surgery_date,surgeon,outcome
    </sql>
</mapper>
